name: "Set Issue Label on successful build"
on:
  workflow_dispatch:
  issue_comment:
    types: [created, edited]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: Amwam/issue-comment-action@v1.3.1
        if: ${{ github.event.issue.pull_request && contains(github.event.issue.labels.*.name, 'automated-build') }}
        with:
          keywords: '["Deploy preview for *lfailandscape* ready"]'
          labels: '["automerge"]'
          github-token: "${{ secrets.PAT }}"
